<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="common-jquery" >
        <script src="/js/jquery/jquery-3.4.1.min.js"></script>
        <script src="/easyui-1.9.4/jquery.easyui.min.js"></script>
    </div>

    <div th:fragment="common-bootstrap" >
        <link href="/bootstrap-4.4.1/css/bootstrap.css" rel="stylesheet" type="text/css">
        <script src="/bootstrap-4.4.1/js/bootstrap.min.js"></script>
    </div>


</body>
</html>